body {
    background-color: #fac4a0;
    font-family: Arial;
    color: #808080;
}

.flex{
    display:flex;
}

.a {
    background-color: white;
    width: 450px;
    height: 590px;
    border-radius: 10px;
    margin: 4% auto;
    box-shadow: 1px 1px 30px #ff5b01, -1px -1px 30px #000;
}


.a1 {
    text-align: center;
}


.a2 {
    font-size: 32px;
    font-weight: 700;
    margin: 0;
    padding-top: 3%;
    color: #ff5b01;
    font-family: Arial black;
}

.a3 {
    font-size: 15px;
    font-weight: 700;
    margin-top: 10px;
    color: #ff5b01;
    opacity: .5;
}

.a4 {
    font-size: 30px;
    font-weight: 600;
    margin-top: 20px;
    margin-bottom: 20px;
    color: #000;
}



.b {
    width: 85%;
    height: 6.5%;
    box-shadow: 1px 3px 3px #5677b8;
    margin-bottom: 2%;
    border-radius:5px;
}

    .b:hover {
        box-shadow: none;
    }


.b1 {
    background-color: white;
}

.b2 {
    color: white;
    background-color: #5677b8;
    margin-top: 2%;
}

.b3 {
    height: 30px;
    margin-top:.2%;
}

.b4 {
    margin-left: 25%;
    margin-top: 2.5%;
}

.b4arb {
    margin-right: 30%;
    margin-top: 2.5%;
}

.b5 {
    margin-left: 23%;
    margin-top: 2.5%;
}


.b5arb {
    margin-right: 29%;
    margin-top: 2.5%;
}

.b6 {
    margin-top: 3.5%;
    margin-bottom: 3.5%;
}



.cc {
    margin-bottom: 1%;
}

.c {
    width: 85%;
    height: 6.5%;
    margin-bottom: 4%;
    border: 1px double #808080;
    border-left: 1px;
    border-right: 1px;
    border-top: 1px;
    border-radius:5px;
}

.c1 {
    margin-bottom: 5%;
}

.c2 {
    margin-left: 22%;
    margin-right: 2%;
    text-decoration: none;
}


.c2arb {
    margin-right: 42%;
    margin-left: 2%;
    text-decoration: none;
}

.c3 {
    width: 85%;
    height: 6.5%;
    border: 0;
    border-radius: 8px;
    background-color: #ff5b01;
    margin-top: 6%;
    margin-bottom: 3%;
    color: white;
    font-size: 18px;
    font-weight: 500;
}


    .c3:hover {
        background-color: #ff9558;
    }


.d {
    justify-content: center;
    font-size:14px;
}


.d1 {
    color: #ff5b01;
}

.d2{
    text-decoration:none;
}